body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background:white;
  }
.viewlink{
margin: 40px 0px 0px 0px;
text-align: center;
  }
.viewlinktwo{
    margin: 60px 0px 0px 0px;
    text-align: center;
      }
.abouttext{
text-align: center;
}

h1 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 75px;
    color: #024959;
    margin: 60px 0 0 0;
}
h2 {
    text-align: center;
    color: #f2ae30;
    margin: 0px 0 70px 0;
}
.projects{
    color: black;
    height: 30px;
    padding: 10px;
    line-height: 28px;
    text-align: center;
}
  .first{
    background-image: url("./img/quizapp.png");
    height: 300px;
    background-size: cover;
    position: relative;
    margin: 50px 0 0 0;
    max-width: 600px;
    border:1px solid  #f2ae30;
  }
  .second{
    background-image: url("./img/bookmark.png");
    height: 300px;
    background-size: cover;
    position: relative;
    margin: 50px 0 0 0;
    max-width: 600px;
    border:1px solid  #f2ae30;
  
  }
  button {
      margin: 30px 0px 0px 0px;
       box-shadow: 3px 4px 0px 0px #f2ae30;
        background:linear-gradient(to bottom, #024959 5%, #024959 100%);
        background-color:#024959;
        border-radius:18px;
        border:1px solid #024959;
        color:#ffffff;
        font-size:22px;
        padding:12px 23px;
        text-decoration:none;

    }
    .button:hover {
        background:linear-gradient(to bottom, #024959 5%, #024959 100%);
        background-color:#024959;
    }
    .button:active {
        position:relative;
        top:1px;
    }
    small {
        text-align: center;
    }
    .btn-group {
        text-align: center;
    }
     

 
  @media (max-width: 500px) {
    h1 {
     font-size: 50px; 
     margin-top: 20px;
     line-height: 40px;
    }
    h2 {
     font-size: 20px;
     margin: 20px 0px 30px 0;
    }
    .first {
     margin: 20px 12px 0 12px; 
    }
    .second {
    margin: 20px 12px 0 12px; 
    }
    .projects {
     font-size: 20px;
     line-height: 24px;
    }
  
  }
